/* The console server needs its own copies of the database schemas. */
CreateSystemDB_SQLite RCDATA "..\..\Program\DAO\SQLite\Resources\CreateSystemDB_SQLite.sql"
CreateCollectionDB_SQLite RCDATA "..\..\Program\DAO\SQLite\Resources\CreateCollectionDB_SQLite.sql"
RecreateCollectionTables RCDATA "..\..\Program\DAO\SQLite\Resources\RecreateCollectionTables_SQLite.sql"
